body * {
  box-sizing: border-box;
}

html body {
  margin: 0;
  padding: 0;
  background-color: #FFFFF7;
}

/*nav*/

.nav-wrapper {
  display: flex;
  flex-direction: column;
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/bookstore_mobile.jpg);
  background-size: cover;
  background-position: center;
  height: 350px;
  font-family: 'Old Standard TT', serif;
  color: white;
  align-items: center;
  border: 1px solid white;
}

.nav {
  display: flex;
  flex-direction: column;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: .3em;
}

.nav-item {
  text-decoration: none;
  color: white;
  padding-top: .2em;
}

.banner h2 {
  margin: 0;
  text-align: center;
}

.logo h4 span {
  border: 1px solid white;
  padding: .3em .5em;
  border-radius: 5px;
}

.banner {
  padding-top: 1em;
}

.social {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-item {
  height: 2em;
  width: 2em;
}

.social img:first-child {
  height: 1.5em;
  width: 1.5em;
  padding-right: .2em;
}

/*end of nav*/

/*main section*/

.quotes-wrapper {
  display: flex;
  flex-direction: column;
}

.quotes-wrapper>* {
  font-family: 'Lora', serif;
}

.header h2 {
  padding-top: 1em;
  padding-bottom: 2em;
  text-align: center;
  margin-bottom: 0;
}


#image1 {
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/quote1.jpg);
  background-size: cover;
  background-position: center;
  height: auto;
  border-bottom: 1px solid white;
}

.background {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex-grow: 1;
}

.quote-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
}

.quote-container p {
  color: white;
  padding-left: 1em;
  padding-right: 1em;
}

.quote {
  font-size: 18px;
  line-height: 1.4em;
  letter-spacing: .03em;
}

.author {
  font-size: 16px;
  margin-top: 0;
}

.author span {
  font-style: italic;
}

#image2 {
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/quote2.jpg);
  background-size: cover;
  background-position: center;
  height: auto;
  border-bottom: 1px solid white;
}

#image3 {
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/quote3.jpg);
  background-size: cover;
  background-position: center;
  height: auto;
  border-bottom: 1px solid white;
}

#image4 {
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/quote4.jpeg);
  background-size: cover;
  background-position: center;
  height: auto;
  border-bottom: 1px solid white;
}

#image5 {
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/quote5.jpg);
  background-size: cover;
  background-position: center;
  height: auto;
  border-bottom: 1px solid white;
}

#image6 {
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/quote6.jpg);
  background-size: cover;
  background-position: center;
  height: auto;
  border-bottom: 1px solid white;
}

#image7 {
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/quote7.jpg);
  background-size: cover;
  background-position: center;
  height: auto;
  border-bottom: 1px solid white;
}

/*bottom nav*/

.nav-bottom .nav-item {
  color: black;
}

.footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: 'Old Standard TT', serif;
  color: black;
  background-color: #0F0E0C;
  margin-top: 1em;
}

.nav-bottom {
  display: flex;
  justify-content: space-around;
  padding: .75em 0;
}

.nav-bottom .nav-item {
  color: white;
  font-size: 10px;
  font-size: .8em;
}

.social-footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: .75em;
}

.social-footer .social-item {
  height: 2em;
  width: 2em;
}

.social-footer .social-item:first-child {
  height: 1.5em;
  width: 1.5em;
}

.copyright {
  display: flex;
  justify-content: center;
  color: white;
}

.copyright p {
  font-size: .5em;
}

/*end of bottom nav*/

@media only screen and (min-width: 501px) and (max-width: 910px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .nav-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/bookdoor-wide.jpg);
    font-family: 'Old Standard TT', serif;
    padding-top: .4em;
    height: 200px;
    margin-bottom: 30px;
    width: 100%;
    z-index: 999;
  }
  .banner {
    color: black;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: flex-start;
    color: white;
  }
  .banner h2 {
    width: 100%;
    font-size: 1.4em;
    text-align: center;
  }
  .banner h2:nth-of-type(1) {
    padding-right: 8em;
  }
  .banner h2:nth-of-type(3) {
    padding-left: 9em;
  }
  .nav span {
    border: 1px solid white;
    padding: .4em .5em .3em .5em;
    border-radius: 5px;
  }
  .logo {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 1em 0;
  }
  .logo h4 span {
    border: 1px solid white;
    padding: .3em .5em;
    border-radius: 5px;
    font-size: 1.5em;
    color: white;
  }
  .nav .nav-item {
    color: white;
    font-size: .6em;
  }
  .nav {
    display: flex;
    flex-direction: row;
    flex: 3;
    width: 80%;
    justify-content: space-around;
    font-size: 1.2em;
    align-self: center;
    padding-top: .3em;
    color: white;
  }
  .social {
    display: flex;
    width: 20%;
    justify-content: space-around;
  }
  #nav1 {
    order: 3;
  }
  #nav2 {
    order: 4;
  }
  #nav3 {
    order: 1;
  }
  #nav4 {
    order: 2;
  }
  /*end of nav*/
  /*main section*/
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1em;
  }

  .quote-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  p.quote {
    padding-top: 1em;
    padding-bottom: 1em;
    width: 70%;
  }
  p.author {
    padding-bottom: 1em;
    width: 70%;
  }
  /*end of main section*/
}

@media only screen and (min-width: 911px) and (max-width: 1200px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .nav-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/bookdoor-wide.jpg);
    font-family: 'Old Standard TT', serif;
    padding-top: .4em;
    height: 200px;
    margin-bottom: 30px;
    width: 100%;
  }
  .banner {
    color: black;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: flex-start;
    color: white;
  }
  .banner h2 {
    width: 100%;
    font-size: 1.4em;
    text-align: center;
  }
  .banner h2:nth-of-type(1) {
    padding-right: 8em;
  }
  .banner h2:nth-of-type(3) {
    padding-left: 9em;
  }
  .nav span {
    border: 1px solid white;
    padding: .4em .5em .3em .5em;
    border-radius: 5px;
  }
  .logo {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 1em 0;
  }
  .logo h4 span {
    border: 1px solid white;
    padding: .3em .5em;
    border-radius: 5px;
    font-size: 1.5em;
    color: white;
  }
  .nav .nav-item {
    color: white;
    font-size: .6em;
  }
  .nav {
    display: flex;
    flex-direction: row;
    flex: 3;
    width: 80%;
    justify-content: space-around;
    font-size: 1.2em;
    align-self: center;
    padding-top: .3em;
    color: white;
  }
  .social {
    display: flex;
    width: 20%;
    justify-content: space-around;
  }
  #nav1 {
    order: 3;
  }
  #nav2 {
    order: 4;
  }
  #nav3 {
    order: 1;
  }
  #nav4 {
    order: 2;
  }
  /*end of nav*/
  /*main section*/
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .header h2 {
    font-size: 34px;
    padding-bottom: 1.5em;
  }

  .quote-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  p.quote {
    padding-top: 1em;
    padding-bottom: 1em;
    width: 75%;
    font-size: 24px;
  }
  p.author {
    padding-bottom: 1em;
    width: 75%;
    font-size: 18px;
  }
  /*end of main section*/
}

@media only screen and (min-width: 1201px) and (max-width:1500px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .nav-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/bookdoor-wide.jpg);
    font-family: 'Old Standard TT', serif;
    padding-top: .4em;
    height: 200px;
    margin-bottom: 30px;
    width: 100%;
  }
  .banner {
    color: black;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: flex-start;
    color: white;
  }
  .banner h2 {
    width: 100%;
    font-size: 1.4em;
    text-align: center;
  }
  .banner h2:nth-of-type(1) {
    padding-right: 8em;
  }
  .banner h2:nth-of-type(3) {
    padding-left: 9em;
  }
  .nav span {
    border: 1px solid white;
    padding: .4em .5em .3em .5em;
    border-radius: 5px;
  }
  .logo {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 1em 0;
  }
  .logo h4 span {
    border: 1px solid white;
    padding: .3em .5em;
    border-radius: 5px;
    font-size: 1.5em;
    color: white;
  }
  .nav .nav-item {
    color: white;
    font-size: .6em;
  }
  .nav {
    display: flex;
    flex-direction: row;
    flex: 3;
    width: 80%;
    justify-content: space-around;
    font-size: 1.2em;
    align-self: center;
    padding-top: .3em;
    color: white;
  }
  .social {
    display: flex;
    width: 20%;
    justify-content: space-around;
  }
  #nav1 {
    order: 3;
  }
  #nav2 {
    order: 4;
  }
  #nav3 {
    order: 1;
  }
  #nav4 {
    order: 2;
  }
  /*end of nav*/
  /*main section*/
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .header h2 {
    font-size: 34px;
    padding-bottom: 1.5em;
  }

  .quote-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  p.quote {
    padding-top: 1em;
    padding-bottom: 1em;
    width: 700px;
    font-size: 24px;
  }
  p.author {
    padding-bottom: 1em;
    width: 700px;
    font-size: 18px;
  }
  /*end of main section*/
}

/*wide*/

@media only screen and (min-width: 1501px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .nav-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/bookshelf.jpg);
    background-size: cover;
    background-position: center;
    font-family: 'Old Standard TT', serif;
    padding-top: .4em;
    border: 1px solid black;
    height: 300px;
    margin-bottom: 30px;
    width: 100%;
  }
  .banner {
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: flex-start;
    color: white;
  }
  .nav span {
    border: 1px solid white;
    padding: .4em .5em .3em .5em;
    border-radius: 5px;
  }
  .banner h2 {
    width: 100%;
    font-size: 2em;
    text-align: center;
  }
  .banner h2:nth-of-type(1) {
    padding-right: 8em;
  }
  .banner h2:nth-of-type(3) {
    padding-left: 9em;
  }
  .logo {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 1em 0;
  }
  .logo h4 span {
    border: 1px solid white;
    padding: .3em .5em;
    border-radius: 5px;
    color: black;
    font-size: 2em;
    color: white;
  }
  .nav .nav-item {
    color: white;
    font-size: .6em;
  }
  .nav {
    display: flex;
    flex-direction: row;
    flex: 3;
    width: 80%;
    justify-content: space-around;
    font-size: 1.6em;
    align-self: center;
    padding-top: .3em;
    color: white;
  }
  .social {
    display: flex;
    width: 20%;
    justify-content: space-around;
  }
  #nav1 {
    order: 3;
  }
  #nav2 {
    order: 4;
  }
  #nav3 {
    order: 1;
  }
  #nav4 {
    order: 2;
  }
  /*end of nav*/
  /*main section*/
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .header h2 {
    font-size: 34px;
    padding-bottom: 1.5em;
  }

  .quote-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  p.quote {
    padding-top: 1em;
    padding-bottom: 1em;
    width: 60%;
    font-size: 24px;
  }
  p.author {
    padding-bottom: 1em;
    width: 60%;
    font-size: 18px;
  }
  /*end of main section*/
  /*bottom nav*/
  .nav-bottom .nav-item {
    font-size: 1em;
  }
  .copyright p {
    padding-bottom: 1em;
    font-size: .8em;
  }
}
